@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    --var-sb-cols: 5;
    --var-sb-rows: 5;
}

body {
    background-color: #212121;
}

.audio-container {
    display: none;
}

div#button-settings {
    position: fixed;
    top: 0;
    right: 0;
    width: 800px;
    height: 100vh;
    transform: translateX(800px);
    background-color: white;
    z-index: 20;
    transition-duration: 250ms;
    transition-property: "transform";
    transition-timing-function: ease;
}

div#button-settings.active {
    transform: translateX(0);
    box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.75);
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--var-sb-cols), 1fr);
    grid-template-rows:  repeat(var(--var-sb-rows), 1fr);
    width: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.play-button {
    background-color: #757575;
    border: none;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.play-button:hover {
    opacity: 0.9;
}

.play-button:active, .play-button-pressed {
    opacity: 0.8;
}

.play-button span {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.file-input {
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    display: none;
}

input.form-control[type='color'] {
    padding: 0;
    width: 100px;
}

div#bg-overlay {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
    transition-duration: 250ms;
    transition-property: "opacity";
    transition-timing-function: ease;
}

div#bg-overlay.active {
    z-index: 10;
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    div#button-settings {
        width: 100vw;
        transform: translateX(100vw);
    }
}